<link rel="stylesheet" href="app.css" type="text/css" />

<div class="container">
  <div class="<%= @featured_trip.code %>-details">
    <%= erb :"_#{@featured_trip.code}" %>
  </div>
</div>

<footer class="footer <%= "#{@featured_trip.code}-footer" %>">
  <a href="/about">about</a>
  <a href="mailto:getoutofnyc@gmail.com?subject=Hello" style="padding-left: 50px;">contact</a>
</footer>