<link rel="stylesheet" href="app.css" type="text/css" />

<div class="container">
  <div class="<%= @featured_trip.code %>-details">
    <%= erb :"_#{@featured_trip.code}" %>
  </div>
</div>

<%= erb :_footer %>