<head>
  <title>getoutta.nyc</title>
  <style>
    .background-image {
      background-image: url("<%= @featured_trip ? "#{@featured_trip.code}.jpg" : '' %>");
      background-size: cover;
    }
  </style>
</head>
<body class="<%= 'background-image' if @featured_trip %>">
  <%= yield %>
</body>