<head>
  <title>getoutta.nyc</title>
  <style>
    .background-stt {
      background-image: url('stt.jpg');
      background-size: cover;
    }
  </style>
</head>
<body class="<%= 'background-stt' if request.path_info == '/' %>">
  <%= yield %>
</body>